:host {
  position: relative;
  display: block;
}

.container {
  position: fixed;
  height: 500px;
  width: 550px;
  background: cornsilk;
  border: 1px solid cornflowerblue;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
}
